body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    text-align: center;
}

input {
text-align: center;
}

.component-container {
display: inline;
}

.components {
    width: 400x;
    margin: auto;
    display:flex;
    justify-content: center;
    gap: 0px 110px;
}

.components1 {
    width: 400x;
    margin: auto;
    display:flex;
    justify-content: center;
    gap: 0px 40px;
}



#placeholder {
    display: column;
}

.btn{
    text-align: center;
}
